/* Form styling */
.form-box {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}

textarea {
    resize: vertical;
}
